.Rosary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 95vh;
  padding: 50px 20px;
  gap: 20px;
  width: 100vw;
  max-width: 100%;
  flex-wrap: wrap;
}
.Rosary__ele {
  width: 30%;
  height: 350px;
}
.Rosary__card {
  width: 100%;
  height: 100%;
  background-color: rgb(63, 63, 63);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Rosary__card__title {
  text-transform: uppercase;
  text-align: center;
}
.Rosary__card__image {
  width: 90%;
  height: 200px;
  margin: 10px;
}
.Rosary__card__note {
  height: 10%;
  width: 85%;
  text-align: center;
}
/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Rosary {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }
  .Rosary__ele {
    width: 100%;
    height: 350px;
  }
  .Rosary__card__image {
    width: 95%;
    height: 200px;
    margin: 10px;
  }
}

/*-------------- TABLET ------------------- */
@media screen and (max-width: 850px) and (min-width: 450px) {
  .Rosary__ele {
    width: 45%;
    height: 350px;
  }
  .Rosary__card__image {
    width: 95%;
    height: 200px;
    margin: 10px;
  }
}
