.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(54, 54, 54);
  color: #808080;
  padding: 10px;
}
.Footer__panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
}

.Footer__panel__ele {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Footer__panel {
    flex-direction: column;
  }
  .Footer__panel__ele {
    margin: 1rem 0;
  }
}

/*-------------- TABLET ------------------- */
@media screen and (max-width: 850px) and (min-width: 450px) {
  .Footer__panel {
    flex-direction: column;
  }
  .Footer__panel__ele {
    margin: 1rem 0;
  }
}
