.Navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.Navbar__logo {
  width: 7rem;
  height: 3rem;
}
.Navbar__tabs {
  display: flex;
  flex-direction: row;
}
.Navbar__tabs__tab {
  padding: 0 20px;
}
/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Navbar {
    padding: 10px 20px;
  }
}

/*-------------- TABLET ------------------- */
@media screen and (max-width: 850px) and (min-width: 450px) {
  .Navbar {
    padding: 10px 20px;
  }
}
