.Navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.Navbar__logo {
  width: 8rem;
  height: 4rem;
}
.Navbar__tabs {
  display: flex;
  flex-direction: row;
}
.Navbar__tabs__tab {
  padding: 0 20px;
}
