.Votd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.Votd__frame {
  padding-top: 100px;
  height: 35rem;
  width: 45rem;
  background-image: url("../../../assets/whiteframe.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Votd__frame__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
  height: 30%;
  margin-top: 4rem;
  text-align: center;
}
/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Votd__frame {
    padding-top: 50px;
    height: 60vh;
    width: 100vw;
    background-image: url("../../../assets/whiteframe_mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .Votd__frame__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 60%;
    text-align: center;
    margin-top: 1rem;
  }
}
